# Binary output dir
bin/

# Go vendor directory
vendor/
e2e/bin/
e2e/yamls/
e2e/repos/
e2e/perf-data/
e2e/node-density-cni-metrics.tgz

# GOPATH created by the build script
gopath/

# Editor paths
.swp*
.swo*
.idea*

# Test outputs
*.out
*.test
