---
apiVersion: v1
kind: Pod
metadata:
  name: simple-worker
  annotations:
  labels:
    app: simple
spec:
  containers:
  - name: simple-worker
    image: nicolaka/netshoot:v0.12
    command: ["/bin/sleep", "10000"]
    securityContext:
      privileged: true
---
apiVersion: v1
kind: Pod
metadata:
  name: simple-control-plane
  labels:
    app: simple
spec:
  containers:
  - name: simple-control-plane
    image: nicolaka/netshoot:v0.12
    command: ["/bin/sleep", "10000"]
    securityContext:
      privileged: true
  nodeSelector:
    kubernetes.io/hostname: kind-control-plane
  tolerations:
  - key: node-role.kubernetes.io/control-plane
    operator: "Exists"
    effect: NoSchedule
