name: Go-build-ppc64le
on: [push, pull_request]
jobs:

  build:
    name: Build and test
    runs-on: ubuntu-latest
    if: >
      (( github.event.pull_request.head.repo.owner.login != github.event.pull_request.base.repo.owner.login ) &&
        github.event_name == 'pull_request' ) || (github.event_name == 'push' && github.event.commits != '[]' )
    env:
      GO111MODULE: on
      TARGET: ppc64le
    steps:
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go
  
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
  
      - name: Build
        run: GOARCH="${TARGET}" ./hack/build-go.sh
