name: e2e-kind
on: [push, pull_request]
jobs:
  e2e-kind:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - docker-file: images/Dockerfile.thick
            cni-version: "0.3.1"
            multus-manifest: multus-daemonset-thick.yml
          - docker-file: images/Dockerfile
            cni-version: "0.3.1"
            multus-manifest: multus-daemonset.yml
          - docker-file: images/Dockerfile.thick
            cni-version: "0.4.0"
            multus-manifest: multus-daemonset-thick.yml
          - docker-file: images/Dockerfile
            cni-version: "0.4.0"
            multus-manifest: multus-daemonset.yml
          # need to wait kind to support CNI 1.0.0 (now kind 0.11 supports up to 0.4.0)
#          - docker-file: images/Dockerfile.thick
#            cni-version: "1.0.0"
#            multus-manifest: multus-thick-daemonset.yml
#          - docker-file: images/Dockerfile
#            cni-version: "1.0.0"
#            multus-manifest: multus-daemonset.yml

    if: >
      (( github.event.pull_request.head.repo.owner.login != github.event.pull_request.base.repo.owner.login ) &&
        github.event_name == 'pull_request' ) || (github.event_name == 'push' && github.event.commits != '[]' )
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Setup j2cli
        run: |
          pip3 install --user --upgrade j2cli
          j2 --version

      - name: Setup registry
        run: docker run -d --restart=always -p "5000:5000" --name "kind-registry" registry:2

      - name: Build latest-amd64
        uses: docker/build-push-action@v3
        with:
          context: .
          load: true
          tags: localhost:5000/multus:e2e
          file: ${{ matrix.docker-file }}
          platforms: linux/amd64

      # docker buildx push is failed due to https://github.com/docker/buildx/issues/94
      - name: Push to local registry
        run: docker push localhost:5000/multus:e2e

      - name: Get kind/kubectl/koko
        working-directory: ./e2e
        run: ./get_tools.sh

      - name: generate yaml files
        working-directory: ./e2e
        run: env CNI_VERSION=${{ matrix.cni-version }} ./generate_yamls.sh

      - name: Setup cluster
        working-directory: ./e2e
        run: MULTUS_MANIFEST=${{ matrix.multus-manifest }} ./setup_cluster.sh

      - name: Test simple pod
        working-directory: ./e2e
        run: ./test-simple-pod.sh

      - name: Test macvlan1
        working-directory: ./e2e
        run: ./test-simple-macvlan1.sh

      - name: Test static pod
        working-directory: ./e2e
        run: ./test-static-pod.sh

      - name: Test default route1
        working-directory: ./e2e
        run: ./test-default-route1.sh

      - name: cleanup cluster and registry
        run: |
          kind delete cluster
          docker kill kind-registry
          docker rm kind-registry
