name: markdown-lint
on:
  pull_request:
  
jobs:
  markdown-lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: lint
        run: |
          npm install -g markdownlint-cli
          npm install -g markdownlint-rule-search-replace@1.0.9 
          pwd
          markdownlint "**/*.md" --disable MD013 MD033 MD045 MD024 MD041 MD029 MD051 -r markdownlint-rule-search-replace
          markdownlint -V  
